server:
  port: 8080

spring:
  profiles:
    active: dev

logging:
  level:
    org.hibernate.SQL: debug
    org.springframework.jdbc.datasource.init: debug

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health
  endpoint:
    health:
      enabled: true
      show-details: never
