spring:
  profiles:
    active: dev
  sql:
    init:
      mode: always

logging:
  level:
    org.hibernate.SQL: debug
    org.springframework.jdbc.datasource.init: debug

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      enabled: true
